* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  margin: 0 auto;
  border: 1px solid red;
  .box{
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
    .img{
      width: 80px;
      height: 100%;
      img{
        width: 100%;
      }
    }
  }
}
